.titre_principal
{
color: red ;
}
h1
{
font-size: 10.4em;
}
h1,h2,h3,ul
{
font-family:The Amazing Spider-Man


}
h1,h2,h3,ul
{
text-align: center;
}
h1
{
text-decoration: underline;
}
ul
{
color: #0579cc;
}
 h2,h3
 {
	color:#007cd9 ;
 }
 body {
	color:black;
	background-color:white;
	background-image:url(milesmorales.jpg);
	margin:0;
	background-size:cover;
	}